body {
    margin: 0px;

}

@media screen and (max-width:768px) {

    #wrappermain {
        width: 100vw;
        height: 120vh;
        display: grid;
        grid-template-areas: 
            "hd"
            "st"
            "ft";
        grid-template-rows: 1fr 2fr 1fr;
    }

   

    header {
        grid-area: hd;
        display: flex;
        justify-content: center;
        background-color: deeppink;
    }

    section {
        grid-area: st;
        background-color: black;
    }

    article {
        grid-area: at;
        background-color: blueviolet;
    }

    footer {
        grid-area: ft;
        background-color: chartreuse;
    }

    nav {
        grid-area: nv;
        background-color: lightgreen;
    }

    .loggo {
        grid-area: lg;
    }
}


@media screen and (min-width:768px) {


    #wrappermain {
        width: 100vw;
        height: 120vh;
        display: grid;
        grid-template-rows: ;
        grid-template-areas:
            "hd hd hd hd"
            "st st st st"
            "ft ft ft ft";
    }

    header {
        grid-area: hd;
        display: flex;
        justify-content: center;
    }

    section {
        grid-area: st;
        background-color: black;
    }

    article {
        grid-area: at;
        background-color: blueviolet;
    }

    footer {
        grid-area: ft;
        background-color: chartreuse;
    }

    nav {
        grid-area: nv;
        background-color: lightgreen;
    }

    .loggo {
        grid-area: lg;
    }
}