@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Shadows+Into+Light&display=swap');



body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Domine';
}

.img_logga {
    height: 150px;
    margin-right: 20px;
}


ul:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

p {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}



@media screen and (max-width:768px) {

    /* kod för mobil */
    /* wrapper sida 1 */
    #wrappermain {
        width: 100vw;
        height: 200vh;
        display: grid;
        grid-template-areas:
            "hd"
            "st"
            "ft";
        grid-template-rows: 1fr 2fr 1fr;
    }

    /* wraper sida 3 */
    #wrapperrecept {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
            "hd"
            "st3"
            "ft";
    }

    #wrapperrkontakta {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
            "hd"
            "st3"
            "ft";
    }

    /* Hjälp med chat gpt */
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }



    form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    /* stop  */


    header {
        grid-area: hd;
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    section {
        grid-area: st;
        background-color: rgb(74, 123, 139);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }



    footer {
        grid-area: ft;
        background-color: rgb(2, 2, 43);
    }

    nav {
        grid-area: nv;
        background-color: lightblue;
        display: flex;
        flex-direction: row;
    }

    footer h2,
    p {
        color: white;
        padding: 0;
        margin: 0px;
    }


    .nav2 {
        display: none;
    }

    /* kod för sida 1 */
    .block1 {
        height: 40vh;
        width: 60vw;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px #333333;

    }

    .block1:hover {
        box-shadow: 10px 10px 10px 10px #333333;
    }

    #bild1 {
        background-image: url(../img/Gryta_1.jpg);
        background-size: cover;
        background-position: center;
        object-fit: fill;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;

    }



    .textbild {
        height: 10vh;
        width: 60vw;
        display: flex;
        align-items: start;
        justify-content: start;
        background-color: white;
        border-radius: 0px 0px 10px 10px;

    }

    #bild2 {
        background-image: url(../img/Pasta_carbonara.jpg);
        background-size: cover;
        background-position: bottom;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;
    }

    #bild3 {
        background-image: url(../img/Kyckling_sallad.jpg);
        background-size: cover;
        background-position: left 60%;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;

    }

    #bild4 {
        background-image: url(../img/Kycklingfile_med_mos.jpg);
        background-size: cover;
        background-position: bottom;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;

    }

    #bild5 {
        background-image: url(../img/Ris_med_räckor.jpg);
        background-size: cover;
        background-position: bottom;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;

    }

    #bild6 {
        background-image: url(../img/Tacos.jpg);
        background-size: cover;
        background-position: bottom;
        height: 30vh;
        width: 60vw;
        border-radius: 10px 10px 0px 0px;

    }

    .lager {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(74, 123, 139);
        gap: 20px;
        margin: 5px;
    }


    .lager2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(74, 123, 139);
        gap: 20px;
        margin: 5px;
    }

    .text h1,
    h3 {
        color: black;
        font-size: 20px;
        margin-top: 10px;

    }

    .text {
        width: 100%;
        height: 11vh;
        background-color: rgb(74, 123, 139);
        display: flex;
        flex-direction: column;
        justify-content: left;


    }

    h3:hover {
        color: blue;
    }


    /* kod sida 1 stop här för mobil */

    /* kod för sida tre */

    .s_recept {
        grid-area: st3;
        background-color: rgb(74, 123, 139);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-size: medium;
        font-weight: 800;

    }

    .lager_s3 {
        height: 50vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(74, 123, 139);

    }

    .bild_s3 {
        background-image: url(../img/Gryta_1.jpg);
        height: 50vh;
        width: 50vw;
        background-color: orange;
        background-size: cover;
        background-position: center;
        border-radius: 10px 10px 0px 0px
    }

    .text_s3 {
        height: 50vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        border-radius: 10px 10px 10px 0px;
        flex-direction: column;
    }

    .listas3 {
        display: flex;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .recept {
        width: 90vw;
        height: 60vh;
        background-color: rgb(74, 123, 139);
        display: flex;
        justify-content: space-around;

    }

    .ingredienser {
        width: 30vw;
        height: 60vh;
        background-color: lightblue;
        border-radius: 20px 20px 20px 20px
    }

    .gör_så {
        display: flex;
        width: 60vw;
        height: 60vh;
        border-radius: 0px 50px 50px 0px;
        justify-content: space-around;
        flex-direction: column;



    }

    /* början sida om oss */

    .block1_om_oss {
        height: 60vh;
        width: 80vw;
        border-radius: 10px;
        background-color: #333333;
        display: flex;
        flex-direction: row;

    }

    .bild1_om_oss {
        background-image: url(../img/chef1.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 40vw;

        border-radius: 10px;
    }

    .om_oss {
        height: 60vh;
        width: 60vw;
        border-radius: 10px;
        overflow: hidden;

    }

    .om_oss_2 {
        height: 60vh;
        width: 50vw;
        border-radius: 10px;
        overflow: hidden;

    }

    .bild2_om_oss {
        background-image: url(../img/chef2.jpg);
        background-size: cover;
        background-position: center +5px;
        height: 60vh;
        width: 50vw;
        border-radius: 10px;
    }

    .block2_om_oss {
        height: 60vh;
        width: 80vw;
        border-radius: 10px;
        background-color: #333333;
        display: flex;
        flex-direction: row;

    }
}

/* kod sida 3 stop här för mobil */

/* generel kod */

.menu {
    height: 100vh;
    width: 40vw;
    background: rgb(74, 123, 139);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.5s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.menu-button {
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons {
    font-size: 2.5rem;
    color: blue;
}

.show {
    left: 0;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}

/* generel kod stop */

@media screen and (min-width:768px) {
    /* kod för desktop */

    /* wrapper sida 3 */
    #wrappermain {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 20fr 5fr 60fr 35fr;
        grid-template-areas:
            "hd"
            "nv"
            "st"
            "ft";
    }

    /* wrapper sida 3 */
    #wrapperrecept {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 20fr 5fr 60fr 35fr;
        grid-template-areas:
            "hd"
            "nv"
            "st3"
            "ft";
    }

    .container {
        width: 50vw;
        height: 50vh;
        margin: 50px auto;
        padding: 20px;
        background-color: rgb(74, 123, 139);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    form {
        margin-top: 20px;
    }



    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        height: 20vh;

    }

    header {
        grid-area: hd;
        display: flex;
        justify-content: center;
        background-color: black;

    }

    section {
        grid-area: st;
        background-color: rgb(74, 123, 139);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }


    footer {
        grid-area: ft;
        background-color: rgb(2, 2, 43);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

    }

    footer h2,
    p {
        color: white;
    }

    .nav2 {
        grid-area: nv;
        background-color: lightblue;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    ul {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

    }

    .mat {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: space-around;
    }
    

    ul:hover {
        cursor: pointer;
    }


    .menu-button {
        display: none;
    }

    .block1 {
        height: 40vh;
        width: 20vw;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px #333333;
    }

    .block1:hover {
        box-shadow: 10px 10px 10px 10px #333333;
        transform: scale(1.07);
        transition: 0.6s;
    }

    #bild1 {
        background-image: url(../img/Gryta_1.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }



    .textbild {
        height: 10vh;
        width: 20vw;
        display: flex;
        align-items: start;
        justify-content: start;
        background-color: white;
        border-radius: 0px 0px 10px 10px;

    }

    #bild2 {
        background-image: url(../img/Pasta_carbonara.jpg);
        background-size: cover;
        background-position: bottom;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    #bild3 {
        background-image: url(../img/Kyckling_sallad.jpg);
        background-size: cover;
        background-position: left 60%;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }


    #bild4 {
        background-image: url(../img/Kycklingfile_med_mos.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;
    }

    #bild5 {
        background-image: url(../img/Ris_med_räckor.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;

    }

    #bild6 {
        background-image: url(../img/Tacos.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 20vw;
        border-radius: 10px 10px 0px 0px;
    }

    .lager {
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(74, 123, 139);

    }

    .lager2 {
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(74, 123, 139);
    }

    .text h1,
    h3 {
        color: black;
        font: 20px;
        margin-left: 100px;
        margin-top: 10px;


    }

    .text {
        width: 100%;
        height: 10vh;
        background-color: rgb(74, 123, 139);

    }

    h3:hover {
        color: blue;
    }

    /* kod för sida tre webb */

    .s_recept {
        grid-area: st3;
        background-color: rgb(74, 123, 139);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-size: x-large;

    }

    .lager_s3 {
        height: 50vh;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(74, 123, 139);

    }

    .bild_s3 {
        background-image: url(../img/Gryta_1.jpg);
        height: 50vh;
        width: 30vw;
        background-color: orange;
        background-size: cover;
        background-position: center;
        border-radius: 50px 0px 0px 50px
    }

    .text_s3 {
        height: 50vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        border-radius: 0px 50px 50px 0px;
        flex-direction: column;

    }

    .listas3 {
        display: flex;
        font-weight: bolder;
        align-items: center;
        justify-content: center;

    }

    .recept {
        width: 90vw;
        height: 60vh;
        background-color: rgb(74, 123, 139);
        display: flex;
    }

    .ingredienser {
        width: 30vw;
        height: 60vh;
        background-color: lightblue;
        border-radius: 50px 0px 0px 50px
    }

    .gör_så {
        display: flex;
        width: 60vw;
        height: 60vh;
        border-radius: 0px 50px 50px 0px;
        align-items: flex-start;
        flex-direction: column;
    }

    /* slut på kod för sida 3 webb */

    /* början sida om oss */

    .block1_om_oss {
        height: 60vh;
        width: 80vw;
        border-radius: 10px;
        background-color: #333333;
        display: flex;
        flex-direction: row;

    }

    .bild1_om_oss {
        background-image: url(../img/chef1.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 40vw;

        border-radius: 10px;
    }

    .om_oss {
        height: 60vh;
        width: 60vw;
        border-radius: 10px;

    }

    .om_oss_2 {
        height: 60vh;
        width: 50vw;
        border-radius: 10px;

    }

    .bild2_om_oss {
        background-image: url(../img/chef2.jpg);
        background-size: cover;
        background-position: center +5px;
        height: 60vh;
        width: 50vw;
        border-radius: 10px;
    }

    .block2_om_oss {
        height: 60vh;
        width: 80vw;
        border-radius: 10px;
        background-color: #333333;
        display: flex;
        flex-direction: row;

    }
}